<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="style/style.css">
<link rel="stylesheet" href="style/sidebar.css">
<title>Erik Larbie</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

  <?php
if(isset($_POST["pb"]))
{
  Echo "First Name : " . $_POST["FirstName"];
  Echo "<br>";
  Echo "Last Name : " . $_POST["LastName"];
  Echo "<br>";
  Echo "Email : " . $_POST["email"];

  $conn = new mysqli("localhost", "root", "mysql", "phpdemo");
  $sql = "INSERT INTO StudentMaster(FirstName,LastName,email,pw) values('" . $_POST["FirstName"] . "','" . $_POST["LastName"] . "' ,'" . $_POST["email"] ."' ,'" . $_POST["pw"] ."')";
  $conn->query($sql);
  $conn->close();
}

?>
<html><body>
<form action="phpdemo.php" method="POST">
First Name: <input type="Text" name="FirstName"><br>
Last Name: <input type="text" name="LastName"><br>
Email: <input type="email" name="email"><br>
Password: <input type="password" name="pw"><br>
<input type="hidden" name="pb" value="1">
<input type="submit" value="submit">
</form>
 




<div class="jumbotron text-center">
  <h1>Welcome to my Website</h1>
  <p>My Name is ERIK LARBIE</p> 
</div>
<div class="container">
  <div class="vertical-center">


<a href="test.html">test1</a><br>
<a href="test.html">test2</a><br>
<a href="{{ "/test.html" | prepend: site.baseurl }}">tes3</a></p><br>
<a href="{{ "/insert.php" | prepend: site.baseurl }}">tes4</a></p><br>
<a href="https://c6682.gitlab.io/connect-people/test.html">test5</a><br>
<a href="/test.html">test6</a><br>
<a href="connect-people/test.html">test7</a><br>
<a href="https://c6682.gitlab.io/connect-people/test">test8</a><br>
<a href="//test.html">test9</a><br>
<a href="https://c6682.gitlab.io/connect-people/test.html">test10</a><br>
<a href="https://c6682.gitlab.io/connect-people/test.html">test11</a><br>
<a href="//test.html">test12</a><br>
<a href="/test">test13</a><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
Best:<a href="https://c6682.gitlab.io/connect-people/test.html">test11</a><br>

    test.html

<p class="aligncenter">
<form action="insert.php" method="POST">
  <label for="firstname">First name:</label><br>
  <input type="text" id="firstname" name="firstname" value="John"><br>
  <input type="submit" value="submit" name="submit">
</form> 
</p>
<br><br><br><br><br><br><br><br>

<p class="aligncenter">
<form action="insert.php" method="POST">
  <label for="firstname">First name:</label><br>
  <input type="text" id="firstname" name="firstname" value="John"><br>
  <input type="submit" value="submit" name="submit">
</form> 
</p>



<p class="aligncenter">
<img src="img/gitLablinks.png" alt="gitlab" width="161" height="62">
<a href="https://www.linkedin.com/in/erik-larbie/" target="_blank"><img src="img/Linkedinlinks.png"   alt="linkedin" width="161" height="62"></a>
</p>

</div>
</div>


</div>





    

<div class="footer">
  <p>larbie.ch &copy;<script>document.write(new Date().getFullYear())</script>
</div>

<script>
function openLeftMenu() {
  document.getElementById("leftMenu").style.display = "block";
}

function closeLeftMenu() {
  document.getElementById("leftMenu").style.display = "none";
}

function openRightMenu() {
  document.getElementById("rightMenu").style.display = "block";
}

function closeRightMenu() {
  document.getElementById("rightMenu").style.display = "none";
}
</script>
 
</body>
</html>
